<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.orange_recruitment.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdu.orange_recruitment.entity.pojo.Student">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="class_no" property="classNo" />
        <result column="speciality" property="speciality" />
        <result column="college" property="college" />
        <result column="credit" property="credit" />
        <result column="is_finish_credit" property="isFinishCredit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, class, speciality, college, credit, is_finish_credit
    </sql>

</mapper>
