<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.orange_recruitment.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdu.orange_recruitment.entity.pojo.Teacher">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="research_institute" property="researchInstitute" />
        <result column="education" property="education" />
        <result column="age" property="age" />
        <result column="contact_information" property="contactInformation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, research_institute, education, age, contact_information
    </sql>

</mapper>
